body {
    background-color: #F9FAF8;
    font-family: "Roboto", sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #E5E7EB;
}
button {
    color: #F9FAF8;
    background-color: #3882F6;
    border: 2px solid #E5E7EB;
    padding: 5px 35px;
    border-radius: 10px;
}
h1,
h2,
h3,
p {
    margin: 0;
    margin-bottom: 10px;
}

/* GENERIC CLASSES */
.container {
    padding: 0 200px;
}
.dark {
    background-color: #1F2937;
    color: #F9FAF8;
}

/* HEADER CLASSES */
.header {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}
.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;

    display: flex;
}
.header-logo img {
    width: 30px;
    height: auto;
}
.header-links {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* HERO CLASSES */
.hero {
    padding: 70px 0;
    padding-top: 45px;
    display: flex;
    gap: 70px;
}
.hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.hero-text p {
    color: #E5E7EB;
}
.hero-img {
    width: 300px;
    height: auto;
    flex: 1 0 auto;
    border-radius: 10px;
}

/* INFORMATION CLASSES */
.information {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.information h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: bold;
}

.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    width: 150px;
    height: 180px;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card img {
    width: 64px;
    height: 64px;
    border: 5px solid #3882F6;
    border-radius: 10px;
    padding: 15px;
}

.card h3 {
    color: #1F2937;
    font-size: 18px;
    font-weight: 100;
}